services:
  spark-agent:
    build:
      context: spark
      dockerfile: Dockerfile
    pid: "container:mc"
    command: >
      sh -c "java -jar spark-agent.jar $(pidof java) port=2222"

  spark-bytebin:
    image: ghcr.io/lucko/bytebin
    ports:
      - 3000:8080
    volumes:
      - data:/opt/bytebin/content
      - db:/opt/bytebin/db
    environment:
      BYTEBIN_MISC_KEYLENGTH: 15
      BYTEBIN_CONTENT_MAXSIZE: 5

  spark-bytesocks:
    image: ghcr.io/lucko/bytesocks
    ports:
      - 3000:8080
    environment:
      BYTESOCKS_MISC_KEYLENGTH: 15
      BYTESOCKS_RATELIMIT_MSG_AMOUNT: 10000

  spark-viewer:
    image: ghcr.io/lucko/spark-viewer
    ports:
      - 3000:8080
    environment:
      SPARK_VIEWER_MISC_KEYLENGTH: 15
      SPARK_VIEWER_CONTENT_MAXSIZE: 5
